.card{
    border-radius: 20px;
}

.menu-links{
    padding:0;
}

.market-item{
    width:50%;
    height:50%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
}

html{
    padding:0;
}
header {
    position: sticky;
    top:0;
    background-color: #0a6319f8;
    color: white;
    width: 100%;
    padding: 10px 10px 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:4;
}

.menu-bar{
   margin-left: 6px;
    margin-top: 5%;
}

.menu-icon {
    margin-right: 30px;
    font-size: 40px;
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
}
  
.clsu-logo img {
    width: 65px;
    height: auto;
    display: block;
    margin-left: 0px;
}
  
.sidebar {
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    position: fixed;
    left: -250px;
    transition: 0.3s;
    z-index:3;
}
  
.sidebar.active {
    left: 0;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}
  
.sidebar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    transition: 0.3s;
}
  
.sidebar a:hover {
    background-color: #dddddd;
}
  
.bottom-content {
    margin-top: 90%;
}
  
main {
    padding: 20px;
}
  
  .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #ddd;
  }
  
  .icon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .text {
    font-size: 16px;
  }
  
  .banner {
    text-align: center;
    background-color:  #0f861c;
    color: #fff;
    padding: 1px;
    margin-bottom: 20px;
  }

  .label {
    flex: 1;
    text-align: left;
    padding-right: 10px; 
  }
  
  .conti{
    z-index:0;
  }